<div class="container-fluid p-0 ">
  <header>
      <!-- NAVBAR -->

      <nav class="navbar flex-column navbar-dark navbar-expand-md navbar-fixed-top fixed-top">
          <a class="navbar-brand"><img src="../../assets/images/logo_slider_home@1x.png" alt="logo"></a>
          <button class="navbar-toggler btn-dark" data-toggle="collapse" data-target="#collapse-target">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapse-target">
              <ul class="navbar-nav flex-row  row">
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">HOME</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">OURSERVICES</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">OFFER</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">MYACCOUNT</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">PRO</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">CONTACTUS</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">PL</a>
                  </li>
              </ul>
          </div>
      </nav>

      <!-- INTRO TEXT -->
      <div class="container intro-content">
          <div class="intro-text">
              <h3>PAMPER YOURSELF PRETTY</h3>
              <br>
              <p><span>Treat yourself to one of our signature services. Our beloved beauty</span>
                  <br>
                  <span>experts will wow your brows , get you glowin and so much more. You'll </span>
                  <br>
                  <span>leave looking and feeling more gorgeous than ever before. </span>
              </p>
              <br>
              <button type="button" class="p-10 into-button btn btn-outline-light btn-lg" onclick="myFunction()">I
                  RESERVE</button>
          </div>
      </div>
      <app-mouse-annimation></app-mouse-annimation>
  </header>
</div>