header {
    background-color: transparent;
    background-image: url(../../assets/images/slider_image_home@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 667px;
}

.btn {
    padding: 10px 60px !important;
}



.navbar-fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.6) !important;
    transition: background-color 500ms ease;
}

.intro-text {
    text-align: center;
    color: rgb(255, 255, 255);
}



.intro-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
}