
    <div class="footer">
      <div class="container">
          <div class="row footer-intro">
              <h3 class="title col-12">SUBSCRIBE TO OUR NEWSLETTER</h3>
              <p class="col-12">stay informed about us, news and events</p>
          </div>
          <div class="search-bar">
              <input type="text" placeholder="Enter your e-mail address">
              <button type="search" class="btn btn-dark btn-lg m-0" >Send</button>
          </div>
          <div class="footer-nav">
              <ul class="nav flex-row  row">
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">HOME</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">OURSERVICES</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">OFFER</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">MYACCOUNT</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">PRO</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">CONTACTUS</a>
                  </li>
                  <li class="nav-item col p-1">
                      <a class="nav-link" href="#">PL</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>