<div class="container">
  <div class="section-title">
      <h3>HOW IT WORKS ?</h3>
  </div>
  <div class="row how-it-works">
      <div class="col-sm-12 col-md-4 how-it-works-item">
          <img class="img-fluid" src="../../assets/images/ic_booking@1x.png" alt="booking">
          <h3>Booking</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias optio possimus, impedit tenetur ullam
              itaque </p>
      </div>
      <div class="col-sm-12 col-md-4 how-it-works-item">
          <img class="img-fluid" src="../../assets/images/ic_meeting@1x.png" alt="booking">
          <h3>Meeting</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias optio possimus, impedit tenetur ullam
              itaque </p>
      </div>
      <div class="col-sm-12 col-md-4 how-it-works-item">
          <img class="img-fluid" src="../../assets/images/ic_payment@1x.png" alt="booking">
          <h3>Payment</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias optio possimus, impedit tenetur ullam
              itaque </p>
      </div>
  </div>
  <div class="action-buttons"><button type="button" class="btn btn-danger btn-lg">I RESERVE</button></div>
</div>