#slider {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 40px 40px;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.carousel-control-prev {
    height: 100%;
    top: -50px !important;
    left: -5% !important;
    width: 50px !important;
    border: dashed red 1px;
}

.carousel-control-next {
    height: 100%;
    top: -50px !important;
    width: 50px !important;
    right: -5% !important;
    overflow: hidden;
    border: dashed red 1px;
}

.carousel-control-prev-icon {
    background-image: url(../../assets/./images/arrow_left_inactif@2x.png) !important;
}

.carousel-control-prev:hover .carousel-control-prev-icon {
    background-image: url(../../assets/./images/arrow_left_actif@2x.png) !important;
}

.carousel-control-next-icon {
    background-image: url(../../assets/./images/arrow_right_inactif@1x.png) !important;
}

.carousel-control-next:hover .carousel-control-next-icon {
    background-image: url(../../assets/./images/arrow_right_actif@1x.png) !important;
}



.image-underline {
    background-image: url(../../assets/images/sliderImageUnderLine.png);
    height: 3px;
    width: 20%;
    margin: 5px;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: none !important;
}


